*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/**boot css**/

html,body{
    height: 100%;
}

img{
    width: 100%;
    max-width: 400px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding:0 2%;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/**estilização so site**/

header{
    padding: 20px 0;
    background-color: blueviolet;
}

header .logo{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}
.logo a{
    text-decoration: none;
    color: white;
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    transition: 1s;
    color: white;
    text-decoration: none;

}

nav.desktop a:hover{
    color: red;
    text-decoration: underline;
}

section.banner-container{
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-single{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.5);
}

section.banner-container form{
    width: 93%;
    max-width: 600px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

section.banner-container form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
}

section.banner-container form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: rgb(122, 228, 166);
    color: white;
    font-size: 22px;
    padding-left: 10px;
    cursor: pointer;
    border: 0;
}

section.descricao-autor{
    padding: 40px 0;
}

section.descricao-autor h2{
    font-size: 28px;
    font-weight: 300;
    color: #444;
}

section.descricao-autor p{
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 10px;
}

section.especialidades{
    padding: 40px 0 ;
    background: #d4d3d3;
}

section.especialidades h2.title{
    font-size: 30px;
    font-weight: 400;
    color: rgb(124, 124, 124);
    text-align: center;
}

.box-especialidades{
    margin: 40px 0;
    padding: 0 30px;
    text-align: center;
}

.box-especialidades h3{
    font-size: 40px;
    
    color: blueviolet;
}

.box-especialidades h4{
    font-weight: 700;
    font-size: 25px;
    color: blueviolet;
    
}

.box-especialidades p{
    color: #444;
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
}

section.extras{
    padding: 30px 0;
    background: blueviolet;
}

.servicos-container, .depoimento-container{
    padding: 0 50px;
}

section.extras .title{
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
}

.depoimento-single{
    padding: 15px 0;
    border-bottom: 1px solid #5056A0;

}

p.depoimento-descricao{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor{
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.servicos ul{
 margin: 20px 0;
 color: white;
}

.servicos li{
    margin-bottom: 25px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

footer{
    background: #424685;
    padding: 30px 0;
}

footer.fixed{
    position: fixed;
    bottom:  0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

/*
Para arrumar scroll-x do IE
*/
body{
    overflow-x: hidden;
}
section.erro-404 .center{
    padding-top: 25%;
    display: flexbox;
}

section.erro-404 h2{
    top: 50%;
    text-align: center;
    color: #444;
    font-weight: 400;
    font-size: 28px;
    border-bottom: 2px solid #444;
}

section.erro-404 p{
    font-size: 18px;
    color: #444;
    font-weight: 300;
    text-align: center;
    margin-top: 8px;
}
section.erro-404 a{
    color: #444;

}


#map{
    width: 100%;
    height: 400px;
}

.contato-container{
    padding: 40px 0;
    text-align: center;

}

.contato-container input[type=text]{
    margin: 8px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color: #444;
    max-width: 500px;
}

.contato-container textarea{
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    resize: vertical;
    color: #444;
    max-width: 500px;
}

.contato-container input[type=submit]{
    background: rgb(122, 228, 166);
    width: 200px;
    height: 40px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    
    /*-webkit-text-stroke: 1px black;*/
}

.bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.bullets span{
    margin-inline: 6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #424685;
    border: 1px solid blueviolet;
    
}

.bullets span.active-slider{
    background: #424685;
    border: 2px solid white;
}











/**/
/* regras do responsivo */
/**/


@media screen and (max-width: 768px){
    img{
        float: none !important; /*!important serve para anular regras*/
        display: block;
        margin: 0 auto;
        
    }
    
    .w50{
        padding: 20px;
        width: 100%;

    }
    .w33{
        width: 100%;
        padding: 20px;
    }
    
    .box-especialidades{
        margin: 0;
        padding: 40px 20px;
    }


}

@media screen and (max-width: 700px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }

    .botao-menu-mobile{
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile ul{
        top: 55px;
        z-index: 3;
        position: absolute;
        left: 0;
        display: none;
        text-align: center;
        width: 100%;
    }

    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        font-size: 17px;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
    }
    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }
}